server:
  port: 8080


topic:
  topicName: topic

gatewayUrl: http://localhost:8080
---
spring:
  profiles: default
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      enable-auto-commit: true
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true

logging:
  level:
    org:
      hibernate:
        type: trace        

server:
  port: 8082
---
spring:
  profiles: docker
  kafka:
    bootstrap-servers: my-kafka.kafka.svc.cluster.local:9092
    consumer:
      enable-auto-commit: true
